<style>
span {
	padding-left:1em;
	color: #AF4144;
}

footer {
	margin-bottom: 1.5em;
}
a{
	text-decoration:none;
	margin-top: 2.5em;
}
div#navbarCollapse.collapse.navbar-collapse {
	margin-left: 10%;
}
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark {
	margin-top: -2.5em;
}
</style>